<div class="container-result">
  <div class="company-details">
    <div class="header mb-4">
      <h4 class="title">{{ company.title }}</h4>
      <div class="contact-info">
        Company number
        <span class="contact-number">{{ company.company_number }}</span>
      </div>
    </div>
    <div class="address mb-3">
      <div class="title">Registered Office Address</div>
      <p class="text">{{ company.address_snippet }}</p>
    </div>
    <div class="status mb-3">
      <div class="title">Company status</div>
      <p class="text">{{ company.company_status | titlecase }}</p>
    </div>

    <div class="type mb-3">
      <div class="title">Company Type</div>
      <p class="text">{{ company.company_type }}</p>
    </div>

    <div class="incorporation mb-3">
      <div class="title">Incorporated On</div>
      <p class="text">{{ company.date_of_creation | date : "d MMMM y" }}</p>
    </div>
    <div class="officers">
      <a [routerLink]="['/officers-list', company.company_number]"
        >List Officers</a
      >
    </div>
  </div>
</div>
